
body{
    background-color: #FFDEE9;
background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);
background-repeat: no-repeat;
background-size: cover;

    
    
}
header{
    text-align: center;
    height: 150px;
    
    padding: auto;
    background-color: rgba(173, 216, 230, 0.338);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 3px solid yellow ;
    
    
    
    
}

.sun
{
    
    text-align: left;
}


.sun2
{
    
    text-align: right;
}



nav{
    
    min-height: 400px;
    padding-top: 50px;
    background-color: rgba(255, 0, 255, 0.138);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
    
}

.Kindergarten
{
    text-align: center;
padding-top: auto;
padding-bottom: auto;
align-items: center;
}


main{
    text-align: center;
    height: 400px;
    padding-top: 80px;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    
}

.table{
    align-items:center;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.gallery{
    
    min-height: 300px;
    padding-top: 100px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pic1{
    width: 25%;
}

.pic2{
    width: 25%;
}

.pic3{
    width: 25%;
}

.pic4{
    width: 25%;
}

.teachers
{
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teacher1
{
    width: 30%;
}

.teacher2
{
    width: 30%;
}

.teacher3
{
    width: 30%;
}

footer{
    
    height: 50px;
    
}

.container{
    
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
a
{
    color: rgb(84, 61, 211);
    text-decoration: none;
}
a:hover{
    background-color:hotpink;
    color: yellow;
}



