/* Container for overall page */
.container{
    font-family: "comic neue", cursive;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Body background styling */
body{
    background-color: #FFDEE9;
    background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);
    background-repeat: no-repeat;
    background-size: cover;   
}

/* Header styling */
header{
    text-align: center;
    height: 100px;
    width: auto;
    padding-left: auto;
    padding-right: auto;
    background-color: rgba(173, 216, 230, 0.338);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

/* Navigation bar styling */
nav{
    
    min-height: 100px;
    background-color: rgba(255, 0, 255, 0.138);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid yellow ; 
}

/* Left sun image in the navigation */
.sun
{
    text-align: left;
}

/* Right sun image in the navigation */
.sun2
{
    text-align: right;
}

/* Kindergarten section styling */
.Kindergarten
{
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    align-items: center;
    border-bottom: 3px solid hotpink;
}

/* Main content area styling */
main{
    text-align: center;
    min-height: auto;
    padding-top: 20px;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    
}

/* Weekly schedule table styling */
.table{
    align-items:center;
    text-align: center;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid hotpink;
}

/* Gallery section styling */
.gallery{
    min-height: 300px;
    padding-top: 50px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 3px solid hotpink;
}

.gallery div {
    flex: 1 1 35%; /* This ensures each div takes up 25% of the row */
    max-width: 35%; /* Limits the width to 25% */
    box-sizing: border-box; /* Includes padding and borders in width calculations */
    padding-bottom: 20px;
}

.gallery img{
    width:100%;
    height: auto;
    object-fit: cover;
    border: 3px solid hotpink;
}

/* Teachers section styling */
.teachers
{
    padding-top: 20px;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teacher1
{
    width: 30%;
}

.teacher2
{
    width: 30%;
}

.teacher3
{
    width: 30%;
}

footer{
    
    height: 50px;
    
}

a
{
    color: rgb(84, 61, 211);
    text-decoration: none;
}
a:hover{
    background-color:hotpink;
    color: yellow;
}



